* {
    box-sizing: border-box; 
}

body {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 24px;
    box-shadow: 10px 10px 20px #000, -5px -5px 15px #333;
    width: 90%;          
    max-width: 320px;    
    margin: 10px;       
}

}

#screen {
    width: 100%;
    background: #252525;
    border: none;
    color: #00ffcc; 
    text-align: right;
    font-size: 26px;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 50px;
    border: none;
    border-radius: 12px;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

button:active { background: #555; }

.math-op { color: #ff9900; font-weight: bold; }
.solve-btn { background: #0088cc; grid-row: span 2; }
.big-btn { grid-column: span 2; }
